extends ./_partial/layout.pug
block content
  include ./_partial/post_header.pug
  .article-content(style='max-width:'+ theme.content_width +'px')
    if page.photos && page.photos.length
      div
        each photo in page.photos
          a.article-gallery-img.fancybox(href=photo)
            img(src=photo)
    | !{page.content}
  .article-meta(style='max-width:'+ theme.content_width +'px')
    if page.tags && page.tags.length
      .tags
        i.icon.icon-tag
        | !{list_tags(page.tags)}
    if page.tags && page.categories.length
      .categories
        i.icon.icon-category
        | !{list_categories(page.categories)}
  if theme.duoshuo.enable
    .article-comment(style='max-width:'+ theme.content_width +'px')
      #ds-thread.ds-thread(data-thread-key=page._id, data-title=page.title, data-url=config.url + url_for(page.path), site-name=theme.duoshuo.siteName)
      script.
        var siteName = document.getElementById('ds-thread').getAttribute('site-name');
        var duoshuoQuery = {short_name: siteName};
       
  ul.navication
    li.home
      a(href="/")
        i.icon.icon-home
    if page.prev && page.prev.path
      li
        a(href=url_for(page.prev.path))
          i.icon.icon-arror-left
    if page.next && page.next.path
      li
        a(href=url_for(page.next.path))
          i.icon.icon-arror-right

  div#comment.article-meta(style='max-width:'+ theme.content_width +'px')
  script(src="//cdn1.lncld.net/static/js/3.0.4/av-min.js")
  script(src="//unpkg.com/valine/dist/Valine.min.js")

  script.
    new Valine({
      el: '#comment' ,
      notify:true, 
      verify:true, 
      appId: 'zi2IziPniF42fFUuk0XQCd0F-gzGzoHsz',
      appKey: 'KW2nxA3vosR7VJDnzbb92kiT',
      placeholder: 'ヾﾉ≧∀≦)o来啊，快活啊!',
      path:window.location.pathname, 
      avatar:'wavatar' 
    });    